*{
    margin: 0px;
    border: border-box;
}

.header-bar{
   
    /* min-height: 230px; */
    /* border: 2px solid black; */
    background-color: #222e50;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.nav-logo{
    min-height: 150px;
}

.nav-logo img{
    height: 138px;
    width: 163px;
}

/* NAME TAGE */

.nav-name{
    /* width: 100%; */
    height: 100%;
    /* border: 2px solid white; */
  
    /* display: flex; */
}

.name{
    width: 60%;
    /* height: 100%; */
    color: #d1d5d2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* margin-left: 23px; */
    display: inline;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    /* position: fixed; */
    margin-top: 15px;
    /* text-decoration: 22px underline yellow; */
}

#line{
    border-bottom: 10px solid #bcdbc1;
    border-radius: 5px;
    display: inline;
    margin-left: 16px;
    /* word-spacing: 4px; */
    /* letter-spacing: 5px; */
}

.location{
    /* width: 800px; */
    /* height: 100%; */
    /* border: 2px solid white; */
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 15px;
}

.location h3{
    text-decoration: underline 2px solid white;
}


/* footer-bar */

.footer-bar{
    /* height: 150px; */
    width: 100%;
    background-color: #222e50;
    border-top: 5px solid white !important;
    /* margin-bottom: 15px; */
    padding-bottom: 15px;
}


.footer-about
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #111729;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.changeWeb  {
    width: 110px;
    position: absolute;
    top: 26px;
   right: 0px;
    display: flex;
    flex-wrap: wrap;
    
}

.changeWeb button {
    padding: 12px;
    border-radius: 5px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 16px;
    right: 5px;
    cursor: pointer;
}


.change{
    position: absolute;
    top: 75px;
    right: 80px;
    padding: 42px;
    border-radius: 25px;
    background-color: #9db0b6;
    display: none;
}

.change input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.change .changeConform{
    font-weight: 500;
    font-size: 23px;
    border: black;
    background: linear-gradient(135deg, #879eac, #9b59b6);

}


/* change for price */

#side-bar{
  position: absolute;
  padding: 10px;
  height: 90%;
  display: flex;
  width: 260px;
  border-radius: 10px;
  border : 2px solid black;
  top: 5px;
  margin: 10px;
  background-color: #273458;
  flex-direction: column;
  left: -300px;
  transition: all 0.5s ease-in;
}

#side-bar .cross i{
  position: relative;
  color: white;
  cursor: pointer;
}

#side-bar .cross{
  display: flex;
    justify-content: end;
    font-size: 35px;
    position: absolute;
    top: 13px;
    right: 18px;
  }
  
  .side-header{
    display: flex;
    width: 99%;
    color: white;
    font-size: 23px;
    gap: 10px;
  }
  
  .side-header i{
    font-size: 30px;
  }
  
  .admin{
    color: white;
    /* border: 2px solid black; */
  padding: 5px;
  position: relative;
  top: 25px;
  font-size: 23px;
  cursor: pointer;
  animation : all 3s ease-in;
}

.admin-bar{
  display: flex;
  padding: 10px;
}

.admin a{
  text-decoration: none;
  color: white;
}

.admin :hover{
  border-radius: 8px;
  background-color: #00000047;
}


/* option */

#option{
  position: absolute;
  top: 10px;
  font-size: 30px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
@media screen {
  
  @media (max-width: 1100px)
  {
    .body-kesar{
      width: 80%;
    }
    
    .body-paghadi{
      width: 80%;
    }
    
    .body-vrundavan{
      width: 80%;
    }
    .header-bar{
        justify-content: space-evenly;
    }

   
    
    #line{
        border-bottom: 5px solid #bcdbc1;
    border-radius: 5px;
    display: inline;
    margin-left: 16px;
    }
    .nav-name{
        width: 45%;

    }
    .nav-name .name{
        font-size: 34px;
    }

    .location{
        font-size: 0.7rem;
    }
}
@media (max-width:610px){
  .body #bag-width, #bag , #bag-price{
        font-size: 2rem;
  }
  .kg50, .kg60{
    height: 14vh;
  }

  .body-kesar, .body-paghadi, .body-vrundavan{
    height: 76vh;
    width: 300px;
  }
  


  .nav-name{
    width: 100px;
  }

  #line{
    font-size: 20px;
  }

  .location{
    font-size: 5px;
  }

  
}

}


 
  @media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .category {
      width: 100%;
    }
  
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }
  
  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
  }
