*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.contanier {
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
    justify-content: center;
    /* border: 3px solid black; */
    /* background-color: antiquewhite; */
}

.box1{
    width: 100%;
    min-height: 208px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 2px solid black; */
    /* margin-bottom: 10px; */
    background-color: #6b797a; 
    
}

#heading{
    font-size: 50px;
    letter-spacing: 1px;
    margin-top: px;
    margin-right: 7.5%; 
    text-decoration:underline 5px solid red;
    /* background-color: antiquewhite; */
}

#logo{
    width: 175px;
    height: 150px;
    margin-top: 50px;
    margin-left: 40px;
    background-image: url(logo1.1.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black;  */
    background-color: rgba(67, 88, 88, 0.905);
    
}

#add{
    width: 100%;
    height: 100px;
    margin-top: 43px;
    /* margin-right: 10%; */
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-align: right; 
    /* background-color: rgba(101, 172, 172, 0.673); */

}

.box2{
    width: 99.5%;
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    /* margin-bottom: 10px; */
}



#headbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    align-items: center;
    margin-top: 10px;
} 

.row{
    width: 99%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#seller1{
    width: 300px;
    height: 200px;
    line-height: 1.35rem;
    /* margin-left: 25%; */
    border: 2px solid black;
    padding: 5px;
}

#head1{
    align-items: center;
    justify-content: center;
    display: flex;
}
#head2{
    align-items: center;
    justify-content: center;
    display: flex;
}
#buyer1{
    padding: 5px;
    width: 400px;
    height: 200px;
    line-height: 1.35rem;
    /* margin-left: 25%; */
    border: 2px solid black;
}

.info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 3px;
    font-style: italic;
}

#table{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

#detail1{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 24%;
}
#detail2{
    margin-left:10%;
    padding-left:11%;
}

.item-detail{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* text-decoration: underline; */
    background-color: rgba(123, 225, 191, 0.454);
}

.item-coulam{
    /* min-width: 100%; */
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    min-height: 15px;
    font-weight: bold;
    margin: 5px;
    border: 2px solid  black;
    padding-left: 20px;
}

.item-coulam div{
    text-decoration: none;
}


.item{

    display: flex;
    text-decoration: none;
    justify-content: space-around;
    min-height: 15px;
    margin: 5px;
 
}

.box3{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
} 
 
span{
    width: 100%;
}   


.box4{
    min-width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    
}

.stamp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sign1{
    min-width: 300px;
    min-height: 250px;
 
}


#sign2{
    min-width: 300px;
    min-height: 250px;
 
}


#sign3{
    width: 300px;
    height: 250px;
   
}

/* Downloade Button */

.pdf{
    margin-bottom: -1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download{
    width: 100px;
    height: 100px;
    
}

#downlode{
    width: 124%;
    height: 47%;
    border-radius: 35%;
    background-color:greenyellow;
    cursor: pointer;
}